.page {
  width: 100%;
  height: 100%;

  h1 {
    text-align: center;
  }

  .wordsGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin: 0 auto;
    min-width: 433px;
    height: 574px;
  }
}


